<header>
	<%= image_tag("TreasureMap.gif", :class => "round", :height => 75, :width => 75, :action =>"home") %>
    <description class='round'>    treasure map! </description>
    <nav class='round'>
      <ul>
        <li><%= link_to "Home", '#' %></li>
        <li><%= link_to "About" %></li>
      </ul>
    </nav>
      </header>